In [83]:
A = [[2,3,4],[5,6,7]]

In [96]:

a = list(zip(*A))

In [98]:
[list(x) for x in a]

[[2, 5], [3, 6], [4, 7]]

In [85]:
import numpy as np

In [86]:
np.transpose(A)

array([[2, 5],
       [3, 6],
       [4, 7]])

In [57]:
trans(A)

[2, 3, 4]

In [71]:
a = int(input("enter any number:",))

enter any number:1

In [75]:
def prime_check(n):
    for i in range(2,n):
        if n%i==0:
            return True
        else:
            False
            
prime_check(a)

In [73]:
n = 5


def prime_check(n):
    is_prime = True

In [76]:
prime_check(n)

In [81]:
n = 1
def is_prime(n):
  for i in range(2,n):
    if (n%i) == 0:
      return False
  return True

In [82]:
is_prime(n)

True

In [99]:
A = [[2,3,4],[5,6,7]]

In [104]:
list(zip(*A))

[(2, 5), (3, 6), (4, 7)]

In [106]:
[list(x) for x in zip(*A)]

[[2, 5], [3, 6], [4, 7]]

In [117]:
n = 6


def prim_check(n):
    is_prime = True
    if n>0:
        for i in range(2,n):
            if n%i==0:
                break
                is_prime = False
    return is_prime

In [118]:
prim_check(n)

True

In [ ]:
Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [11]:
l = []
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        l.append(str(i))
print(",".join(l) )

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [7]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [ ]:
Question 2
Level 1

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [12]:
8*7*6*5*4*3*2*1

40320

In [26]:

def fac(n):
    product = 1
    if n<0:
        print("we can not commupte the factorial of a negative number")
    elif n==0:
        print('the factorial of 0 is 1')
    else:
        for i in range(1,n+1):
            product*=i
        return product

In [27]:
n = 8

In [31]:
fac(0)

the factorial of 0 is 1

In [35]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input())
print(fact(x))

5
120

In [ ]:
Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [55]:
num = int(input("enter any number:"))

enter any number:8

In [56]:
mydict = {}
def output(n):
    if n>0:
        for i in range(1,n+1):
            if i not in mydict:
                mydict[i] = i*i
    else:
        print('put some value')
                
    return mydict

In [57]:
output(num)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
Question:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [ ]:
34,67,55,33,12,98

In [60]:
str1 = input("enter seq of numbers:", )

enter seq of numbers:34,67,55,33,12,98

In [78]:
l1 = str1.split(",")

In [80]:
t1 = tuple(l1)

In [81]:
print(l1)

['34', '67', '55', '33', '12', '98']

In [82]:
print(t1)

('34', '67', '55', '33', '12', '98')

In [ ]:
Question 5
Level 1

Question:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [91]:
class Bank:
    def __init__(self):
        self.s1 = ''

    
    def getString(self):
        self.s1 = input("Enter any string:", )
        
    def printString(self):
        return self.s1.upper()

In [92]:
bob = Bank()

In [93]:
bob.getString()

Enter any string:ertyuio sdfghjk cvbnm

In [94]:
bob.printString()

'ERTYUIO SDFGHJK CVBNM'

In [95]:
#6

In [ ]:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [66]:
import math

def programmee(c,d,items):
    value = []
    for d in items:
        value.append(str(int(round(math.sqrt(2*c*float(d)/h)))))
    return " ".join(value)

In [68]:
c = 50
h = 30

items=[x for x in input().split(',')]

100,150,180

In [69]:
programmee(c,h,items)

'18 22 24'

In [71]:
c = 50
h = 30

items = [i for i in input().split(",")]

100,150,180

In [80]:
def programmeeee(c,h,items):
    newlst = []
    for d in items:
        newlst.append(str(round(math.sqrt((2 * c * float(d))/h))))
    return " ".join(newlst)

In [81]:
programmeeee(c,h,items)

'18 22 24'

In [ ]:
Question:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [84]:
dimenstions = [int(i) for i in input().split(",")]

3,5

In [90]:
rownum = dimenstions[0]

In [91]:
colnum = dimenstions[1]

In [93]:
multilst = [[0 for j in range(colnum)] for i in range(rownum)]

In [94]:
for i in range(rownum):
    for j in range(colnum):
        multilst[i][j] = i*j

In [96]:
print(multilst)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
Question:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [99]:
items = [i for i in input().split(",")]

without,hello,bag,world

In [101]:
" ".join(sorted(items))

'bag hello without world'

In [103]:
items.sort()

In [105]:
" ".join(items)

'bag hello without world'

In [ ]:
Question 9
Level 2

Question£º
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT

In [106]:
a = "lawrahK namA"

In [107]:
def reversestring(s1):
    return s1[::-1]

In [108]:
reversestring(a)

'Aman Kharwal'

In [118]:
str1 = input()

program that accepts sequence of lines

In [119]:
def capitalize(str1):
    return str1.upper()

In [120]:
capitalize(str1)

'PROGRAM THAT ACCEPTS SEQUENCE OF LINES'

In [128]:

lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

HELLO WORLD, PRACTICE MAKES PERFECT

In [129]:
for i in lines:
    print(i)

HELLO WORLD, PRACTICE MAKES PERFECT

In [ ]:
Question 10
Level 2

Question:
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [137]:
s1 = list(set(input().split(" ")))

hello world and practice makes perfect and hello world again

In [138]:
def test1(s1):
    s1.sort()
    return " ".join(s1)

In [139]:
test1(s1)

'again and hello makes perfect practice world'

In [ ]:
Question 11
Level 2

Question:
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010

In [183]:
items = [i for i in input().split(",")]

0100,0011,1010,1001

In [184]:
items

['0100', '0011', '1010', '1001']

In [189]:
newlst = []
for i in items:
    intnum = int(i,2)
    if not intnum%5:
        newlst.append(i)
    else:
        pass

        
newlst

['1010']

In [188]:
for i in range(len(items)):
    intnum = []
    intnum.append(int(items[i],2))

In [170]:
intnum

[9]

In [173]:
value = []
items=[x for x in input().split(',')]
for p in items:
    intp = int(p, 2)
    if not intp%5:
        value.append(p)

print(','.join(value))

0100,0011,1010,1001
1010

In [174]:
intp

9

In [177]:
int('1010',2)

10

In [191]:
items = [i for i in input().split(", ")]

0100,0011,1010,1001

In [192]:
items

['0100,0011,1010,1001']

In [196]:
value = []
items=[x for x in input().split(',')]
for p in items:
    intp = int(p, 2)
    if not intp%5:
        value.append(p)

print(','.join(value))

0100,0011,1010,1001
1010

In [197]:
Question 12
Level 2

Question:
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

SyntaxError: invalid syntax (2852446572.py, line 1)

In [204]:
values = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0) :
        values.append(s)
        
print(" ".join(values))

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

In [ ]:
Question 13
Level 2

Question:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [211]:
s1 = input()

hello world! 123

In [212]:
s1

'hello world! 123'

In [213]:

def func(s1):
    LETTERS = 0
    DIGITS  = 0
    for i in s1:
        if i.isnumeric():
            DIGITS+=1
        if i.isalpha():
            LETTERS+=1

    print("LETTERS", LETTERS)
    print("DIGITS", DIGITS)

In [214]:
func(s1)

LETTERS 10
DIGITS 3

In [ ]:
Question 14
Level 2

Question:
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9

In [215]:
s1 = input()

Hello world!

In [219]:

def func12(s1):
    LOWER_CASE = 0
    UPPER_CASE = 0
    for i in s1:
        if i.islower():
            LOWER_CASE +=1
        if i.isupper():
            UPPER_CASE+=1
            
        else:
            pass
    print("UPPER CASE:", UPPER_CASE)
    print("LOWER CASE:", LOWER_CASE)

In [220]:
func12(s1)

UPPER CASE: 1
LOWER CASE: 9

In [221]:
s1 = input()

Hello world!

In [222]:
d = {"UPPER CASE":0, "LOWER CASE":0}

In [223]:
for i in s1:
    if i.isupper():
        d["UPPER CASE"] += 1
    elif i.islower():
        d["LOWER CASE"] += 1
    else:
        pass
    
print(d["UPPER CASE"])
print( d["LOWER CASE"])

1
9

In [ ]:
Question 15
Level 2

Question:
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

In [224]:
def ssuccesivesum(n):
    if n>0:
        f1 = n
        f2 = (f1*10)+f1
        f3 = (f2*10)+f1
        f4 = (f3*10)+f1
        
    print(f1+f2+f3+f4)

In [225]:
ssuccesivesum(9)

11106

In [231]:
n = input()
def success(n):
    n1 = int("%s" % (a))
    n2 = int("%s%s" % (a,a))
    n3 = int("%s%s%s" % (a,a,a))
    n4 = int("%s%s%s%s" % (a,a,a,a))
    print(n1+n2+n3+n4)

In [232]:
success(n)

ValueError: invalid literal for int() with base 10: 'lawrahK namA'

In [233]:
Question 16
Level 2

Question:
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9

SyntaxError: invalid syntax (3630400648.py, line 1)

In [234]:
values = input().split(",")

1,2,3,4,5,6,7,8,9

In [237]:
[int(i)**2 for i in values if int(i)%2!=0]

[1, 9, 25, 49, 81]

In [239]:
numbers = [i for i in values if int(i)%2!=0]

In [240]:
",".join(numbers)

'1,3,5,7,9'

In [ ]:
Question 17
Level 2

Question:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200

D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500

In [8]:
tot = 0
n = int(input())
i = 0
while(i < n):
    x = input()
    values = x.split(" ")
    operation = values[0]
    amount = int(values[1])
    if operation == "D":
        tot += amount
    elif operation == "W":
        tot -= amount
    else:
        pass
    i += 1
print("total=", tot)

4
D 200 W 100
D 200 W 100

KeyboardInterrupt: Interrupted by user

In [ ]:
netamount = 0

while True:
    s = input()
    if s==0:
        break
    values = s.split(" ")
    for i in values:
    ops = values[0]
    amt = int(values[])
    if ops in ["W", "w"]:
        netamount+=amt
        
    elif ops in ["W", "w"]:
        netamount-=amt
        
    else:
        pass
print(netamount)

In [ ]:
uestion 18
Level 3

Question:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

In [1]:
DB = {
    'mohit' : 'mohit@123',
    'prateek': 'prateek@123'
}

In [2]:
def login(func):
    def wrapper(username, password, *args, **kwargs):
        if username in DB and DB[username] == password:
            func(*args, **kwargs)
        else:
            print('Authentication Failed')
    return wrapper

In [5]:
@login
def add(a,b):
    print(a+b)

In [6]:
add(5,6)

Authentication Failed

In [7]:
add(8,9)

Authentication Failed

In [8]:
add("prateek", "prateek@123", 5,10)

15

In [9]:
def main(message):
    print(message)

In [11]:
main("dfghjk")

dfghjk

In [12]:
def my_gen():
    n = 1
    print('first')
    yield  n
    
    n+=1
    print('secon')
    yield n
    
    n+=1
    print('third')
    yield n

In [16]:
next(my_gen())

first

1

In [17]:
next(my_gen())

first

1

In [18]:
next(my_gen())

first

1

In [19]:
next(my_gen)

TypeError: 'function' object is not an iterator

In [21]:
g = my_gen()

In [22]:
next(g)

first

1

In [23]:
next(g)

secon

2

In [24]:
next(g)

third

3

In [25]:
next(g)

StopIteration:

In [26]:
def counter_func(n):
    i = 1
    while (i <= n):
        return i
        i+=1

In [28]:
counter_func(5)

1

In [29]:
def counter_gen(n):
    i = 1
    while (i <= n):
        yield i
        i+=1

In [34]:
gen = counter_gen(5)

In [40]:
next(gen)

StopIteration:

In [41]:
squares_gen = (i**2 for i in range(1000000) if i%2==0)

In [42]:
squares_gen

In [ ]:
idx = 0

for i in squares_gen:
    if idx == 10:
        break
        
    p

In [2]:

def math_operation_via_postman(operation, num1, num2):
        if(operation=='add'):
            r=num1+num2
            result= 'the sum of '+str(num1)+' and '+str(num2) +' is '+str(r)
        if (operation == 'subtract'):
            r = num1 - num2
            result = 'the difference of ' + str(num1) + ' and ' + str(num2) + ' is ' + str(r)
        if (operation == 'multiply'):
            r = num1 * num2
            result = 'the product of ' + str(num1) + ' and ' + str(num2) + ' is ' + str(r)
        if (operation == 'divide'):
            r = num1 / num2
            result = 'the quotient when ' + str(num1) + ' is divided by ' + str(num2) + ' is ' + str(r)
        return result

In [5]:
math_operation_via_postman('divide', 5, 10)

'the quotient when 5 is divided by 10 is 0.5'

In [ ]:
Question 18
Level 3

Question:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

In [20]:
s = input().split(',')

ABd1234@1

In [21]:
def check(x):
    cnt = (6<=len(x) and len(x)<=12)
    
    for i in x:
        if i.isupper():
            cnt+=1
            break
            
    for i in x:
        if i.islower():
            cnt+=1
            break
            
    for i in x:
        if i.isnumeric():
            cnt+=1
            break
            
    for i in x:
        if i=='$' or i=='#' or i=='@':
            cnt+=1
            break
            
    return cnt ==5

In [22]:
s = input().split(',')

ABd1234@1,a F1#,2w3E*,2We3345

In [25]:
lst = filter(check, s)

In [23]:
s

['ABd1234@1', 'a F1#', '2w3E*', '2We3345']

In [26]:
",".join(lst)

'ABd1234@1'

In [ ]:
Question 19
Question:
You are required to write a program to sort the (name, age, score) tuples by ascending order where name is string, age and score are numbers. The tuples are input by console. The sort criteria is:

1: Sort based on name
2: Then sort based on age
3: Then sort by score
The priority is that name > age > score.

If the following tuples are given as input to the program:
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85

Then, the output of the program should be:

[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [30]:
s = tuple(input().split(','))

Tom,19,80

In [54]:
lst = []

while True:
    s = tuple(input().split(","))
    if s[0]==0:
        break
    lst.append(s)
    break
    
lst.sort(key= lambda x:(x[0], int(x[1]), int(x[2])))

('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')

ValueError: invalid literal for int() with base 10: " '20'"

In [ ]:
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

Suppose the following input is supplied to the program:

In [79]:
class Divisible:
    def my_gen_divi_by_seven(self,n):
        for i in range(0,n+1):
            if i%7==0:
                yield i

In [80]:
n = int(input("enter any number:"))

enter any number:15

In [81]:
gen = Divisible()

In [82]:
first_gen = gen.my_gen_divi_by_seven(n)

In [83]:
for i in first_gen:
    print(i)

0
7
14