In [1]:
#21-40

In [5]:
import math
x,y = 0,0

while True:
    s = input().split(' ')
    if not s:
        break
        
    if s[0]=="UP":
        x-=int(s[1])
        
    if s[0]=="DOWN":
        x+=int(s[1])
        
    if s[0]=="LEFT":
        y-=int(s[1])
        
    if s[0]=="RIGHT":
        y+=int(s[1])
    break
        
dis = round(math.sqrt(x**2+y**2))
print(dis)

UP 5 DOWN 3 LEFT 3 RIGHT 2
5

In [ ]:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.

In [ ]:
for i in s:

In [7]:
s = input().split(' ')

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.

In [8]:
s

['New',
 'to',
 'Python',
 'or',
 'choosing',
 'between',
 'Python',
 '2',
 'and',
 'Python',
 '3?',
 'Read',
 'Python',
 '2',
 'or',
 'Python',
 '3.']

In [1]:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.

SyntaxError: invalid syntax (2184933647.py, line 1)

In [5]:
s = input().split()

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.

In [6]:
s

['New',
 'to',
 'Python',
 'or',
 'choosing',
 'between',
 'Python',
 '2',
 'and',
 'Python',
 '3?',
 'Read',
 'Python',
 '2',
 'or',
 'Python',
 '3.']

In [9]:
({i:s.count(i) for i in s})

{'New': 1,
 'to': 1,
 'Python': 5,
 'or': 2,
 'choosing': 1,
 'between': 1,
 '2': 2,
 'and': 1,
 '3?': 1,
 'Read': 1,
 '3.': 1}

In [10]:
from pprint import pprint

In [11]:
pprint({i:s.count(i) for i in s})

{'2': 2,
 '3.': 1,
 '3?': 1,
 'New': 1,
 'Python': 5,
 'Read': 1,
 'and': 1,
 'between': 1,
 'choosing': 1,
 'or': 2,
 'to': 1}

In [12]:
ss = input().split()

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.

In [16]:
word = sorted(set(ss))

In [17]:
for i in word:
    print("{0}:{1}".format(i, word.count(i)))

2:1
3.:1
3?:1
New:1
Python:1
Read:1
and:1
between:1
choosing:1
or:1
to:1

In [19]:
def square(x):
    return x**2

In [20]:
square(6)

36

In [21]:
square(8)

64

In [22]:
__doc__

'Automatically created module for IPython interactive environment'

In [23]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

In [24]:
len.__doc__

'Return the number of items in a container.'

In [25]:
dir.__doc__

"dir([object]) -> list of strings\n\nIf called without an argument, return the names in the current scope.\nElse, return an alphabetized list of names comprising (some of) the attributes\nof the given object, and of attributes reachable from it.\nIf the object supplies a method named __dir__, it will be used; otherwise\nthe default dir() logic is used and returns:\n  for a module object: the module's attributes.\n  for a class object:  its attributes, and recursively the attributes\n    of its bases.\n  for any other object: its attributes, its class's attributes, and\n    recursively the attributes of its class's base classes."

In [26]:
abs.__doc__

'Return the absolute value of the argument.'

In [27]:
input.__doc__

"Forward raw_input to frontends\n\n        Raises\n        ------\n        StdinNotImplementedError if active frontend doesn't support stdin.\n        "

In [28]:
int.__doc__

"int([x]) -> integer\nint(x, base=10) -> integer\n\nConvert a number or string to an integer, or return 0 if no arguments\nare given.  If x is a number, return x.__int__().  For floating point\nnumbers, this truncates towards zero.\n\nIf x is not a number or if base is given, then x must be a string,\nbytes, or bytearray instance representing an integer literal in the\ngiven base.  The literal can be preceded by '+' or '-' and be surrounded\nby whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.\nBase 0 means to interpret the base from the string as an integer literal.\n>>> int('0b100', base=0)\n4"

In [29]:
max.__doc__

'max(iterable, *[, default=obj, key=func]) -> value\nmax(arg1, arg2, *args, *[, key=func]) -> value\n\nWith a single iterable argument, return its biggest item. The\ndefault keyword-only argument specifies an object to return if\nthe provided iterable is empty.\nWith two or more arguments, return the largest argument.'

In [30]:
def square(x):
    """This will return square of a number"""
    return x**2

In [32]:
square(9)
square.__doc__

'This will return square of a number'

In [33]:
str.__doc__

"str(object='') -> str\nstr(bytes_or_buffer[, encoding[, errors]]) -> str\n\nCreate a new string object from the given object. If encoding or\nerrors is specified, then the object must expose a data buffer\nthat will be decoded using the given encoding and error handler.\nOtherwise, returns the result of object.__str__() (if defined)\nor repr(object).\nencoding defaults to sys.getdefaultencoding().\nerrors defaults to 'strict'."

In [34]:
sorted.__doc__

'Return a new list containing all items from the iterable in ascending order.\n\nA custom key function can be supplied to customize the sort order, and the\nreverse flag can be set to request the result in descending order.'

In [35]:
def power(base,pow):
    """This funcvtion will return power of base """
    return base**pow

In [39]:
print(power(5,4))

625

In [40]:
print(power.__doc__)

This funcvtion will return power of base

In [49]:
class Person:
    name = "alien"
    def __init__(self, name):
        self.name = name

In [50]:
obj1  = Person('sanjay')

In [51]:
obj1.name

'sanjay'

In [52]:
Person.mro

In [53]:
Person.name

'alien'

In [55]:
print("%s name is %s" % (Person.name,  obj1.name))

alien name is sanjay

In [61]:
nico = Person('Nico')
print("%s name is %s" % (Person.name, nico.name))

alien name is Nico

In [ ]:
Class Car:
    name = 'car'
    
    def __in

In [64]:
class Car:
    name = 'car1'
    
    def __init__(self, name=None):
        self.name = name
        
obj1 = Car('Honda')
print("%s name is %s" % (Car.name, obj1.name))

car1 name is Honda

In [65]:
toyota=Car()

In [ ]:
toyota.name="Toyota"
print("%s name is %s"%(Car.name,toyota.name))

In [67]:
toyota.name = 'Toyota'

In [68]:
toyota.name

'Toyota'

In [69]:
print("%s name is %s"%(Car.name,toyota.name))

car1 name is Toyota

In [70]:
#26

In [72]:
def summation(a,b):
    return a+b

In [73]:
summation(5,6)

11

In [75]:
(lambda a,b:a+b)(5,6)

11

In [76]:
s1 =(lambda a,b:a+b)

In [77]:
s1(5,6)

11

In [84]:
def strconv(n):
    return str(n)

In [85]:
d = strconv(56)

In [86]:
d

'56'

In [88]:
type(d)

str

In [90]:
d = lambda x:str(x)

In [92]:
type(d(6))

str

In [93]:
def ints(s1,s2):
    return int(s1) + int(s2)

In [95]:
ints('5','6')

11

In [96]:
s = lambda s1, s2: int(s1) + int(s2)

In [98]:
s('8', '3')

11

In [99]:
def stringacc(s1,s2):
    return s1+s2

In [101]:
stringacc('sanjay ' , 'sharma')

'sanjay sharma'

In [103]:
(lambda s1,s2: s1+s2)('45', '369')

'45369'

In [104]:
def lengthchek(s1, s2):
    s1len =  len(s1)
    s2len = len(s2)
    if s1len>s2len:
        print(s1)
        
    elif s1len<s2len:
        print(s2)
        
    else:
        print(s1)
        print(s2)

In [105]:
lengthchek('one', 'Three')

Three

In [106]:
lengthchek('two', 'mat')

two
mat

In [107]:
lengthchek('forty', "ten")

forty

In [122]:
s1, s2  =input().split()

ten ten

In [123]:
s1

'ten'

In [124]:
s2

'ten'

In [127]:
conv = lambda s1,s2: print(max(s1,s2, key=len)) if len(s1) != len(s2) else print(s1+ '/n' +s2)

In [128]:
conv(s1,s2)

ten/nten

In [129]:
#31

In [130]:
def dictcreation(v):
    return {i:i**2 for i in v}

In [131]:
dictcreation(list(range(1,21)))

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [132]:
def printvalues():
    d = {}
    for i in range(1,21):
        d[i] =  i**2
    return d

In [133]:
printvalues()

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [137]:
def printvalues():
    return {i:i**2 for i in range(1,21)}

In [138]:
printvalues()

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [141]:
def printvaluues():
    d = {}
    for i in range(1,21):
        d[i] = i**2
    return d.keys()

In [142]:
printvaluues()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [144]:
def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	for k in d.keys():
		print(k)
printDict()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [145]:
def printkeys():
    dictt = {i:i**2 for i in range(1,21)}
    print(dictt.keys())

In [146]:
printkeys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [150]:
def listvalues():
    newlst = []
    for i in range(1,21):
        newlst.append(i**2)
    return newlst

In [151]:
listvalues()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [152]:
def lisvalues():
    lst  = [i**2 for i in range(1,21)]
    return lst

In [154]:
lisvalues()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [160]:
def printvalues():
    lst  = [i**2 for i in range(1,21)]
    return lst[0:5]

In [161]:
printvalues()

[1, 4, 9, 16, 25]

In [163]:
def listsquare(n):
    lst = [i**2 for i in range(1,n+1)]
    return lst[:5]

In [166]:
listsquare(20)

[1, 4, 9, 16, 25]

In [169]:
def listsquarevalues(n):
    lst = [i**2 for i in range(1,n+1)]
    return lst[-5:]

In [170]:
listsquarevalues(20)

[256, 289, 324, 361, 400]

In [171]:
def listsquarevalues(n):
    lst = [i**2 for i in range(1,n+1)]
    return lst[5:]

In [172]:

listsquarevalues(20)

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [175]:
def tuplegen(n):
    lst =  [i**2 for i in range(1,n+1)]
    return tuple(lst)

In [176]:

tuplegen(20)

(1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400)

In [179]:
def directtuple(n):
    return tuple(i**2 for i in range(1,n+1))

In [180]:
directtuple(20)

(1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400)

In [189]:
tuple1 = (1,2,3,4,5,6,7,8,9,10)

In [185]:
t1 = tuple1[:5]

In [187]:
t2 = tuple1[5:]

In [188]:
print(t1)
print(t2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [194]:
for i in range(0,5):
    print(tuple1[i], end=" ")
print()
    
for i in range(5,10):
    print(tuple1[i], end=" ")

1 2 3 4 5
6 7 8 9 10

In [200]:
l1 = []
l2 = []
for i in range(0,5):
    l1.append(tuple1[i])
    
for i in range(5,10):
    l2.append(tuple1[i])
    
print(l1)
print(l2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [210]:
 tuple2 =  (1,2,3,4,5,6,7,8,9,10)

In [211]:
tuple2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [207]:
def enevntuple(t1):
    lst = []
    for i in range(1,len(t1),2):
        lst.append(t1[i])
    return lst

In [208]:
enevntuple(tuple2)

[2, 4, 6, 8, 10]

In [213]:
tuple(i for i in tuple2 if i%2==0)

(2, 4, 6, 8, 10)

In [218]:
tuple(filter(lambda x: x%2==0, tuple2))

(2, 4, 6, 8, 10)

In [219]:
def printvalue(s1):
    if s1 in ["YES", 'Yes', 'yes']:
        print('YES')
    else:
        print('NO')

In [224]:
printvalue('YeS')

NO

In [233]:
s1 = input('enter any string:', )

enter any string:YeS

In [236]:
out = " ".join(['YES' if s1=='YES' or s1=='Yes' or s1=='yes' else 'NO'])

In [237]:
print(out)

NO

In [239]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [242]:
l2 = list(map(lambda x:x**2, l1))

In [243]:
l2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [244]:
def mapping(n):
    return list(map(lambda x:x**2, n))

In [245]:
mapping(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [247]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [248]:
def mapfiler(l):
    l2 = list(filter(lambda x: x%2==0, l))
    l3 = list(map(lambda x:x**2, l2))
    return l3

In [249]:
mapfiler(l1)

[4, 16, 36, 64, 100]

In [254]:
even_number = map(lambda x:x**2,filter(lambda x:x%2==0,l1))

In [256]:
print(list(even_number))

[4, 16, 36, 64, 100]

In [258]:
def filltering(n):
    return list(filter(lambda x:x%2==0, [i for i in range(1,n+1)]))

In [259]:
filltering(20)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [260]:
def filltering1(n):
    return list(filter(lambda x:x%2==0, range(1,n+1)))

In [261]:
filltering1(20)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [262]:
#44

In [264]:
list(map(lambda x:x**2, range(1,21)))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [265]:
def square(x):
    return x**2

In [267]:
list(map(square, range(1,21)))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [287]:
class American():
    @staticmethod
    def natinality():
        print('Natinality')

In [288]:
obj1 = American()

In [289]:
obj1.natinality()

Natinality

In [291]:
American.natinality()

Natinality

In [292]:
class American:
    pass

In [293]:
class Newyorker(American):
    pass

In [294]:
obj1 = American()

In [295]:
obj2 = Newyorker()

In [296]:
print(obj1)

<__main__.American object at 0x000001A73A4201C0>

In [297]:
print(obj2)

<__main__.Newyorker object at 0x000001A7395350D0>

In [299]:
#47
import numpy as np

In [305]:
class Circle:
    def __init__(self, radius):
        self.radius = radius
    
    def area(self):
        return (np.pi)*(self.radius**2)

In [306]:
acircle = Circle(2)

In [307]:
acircle.area()

12.566370614359172

In [308]:
acircle.radius

2

In [309]:
class Rectagle:
    def __init__(self, length , width):
        self.length = length
        self.width = width
        
    def area(self):
        return (self.length)*(self.width)

In [311]:
rect = Rectagle(2,10)

In [313]:
rect.area()

20

In [336]:
class Shape:
    def __init__(self):
        pass
    
    def area1(self):
        return 0

In [337]:
class Square(Shape):
    def __init__(self,length):
        Shape.__init__(self)
        self.length = length
    
    def area(self):
        return (self.length)*(self.length)

In [338]:
sq1 = Square(3)

In [339]:
sq1.area()

9

In [340]:
sh1 = Shape()

In [341]:
Square(5).area()

25

In [342]:
print(Square().area())

TypeError: __init__() missing 1 required positional argument: 'length'

In [346]:
sq1.area()

9

In [348]:
raise RuntimeError('something wrong')

RuntimeError: something wrong

In [349]:
#51

In [353]:
def zerodivison(n):
    try:
        n/0
        
    except Exception as e:
        print(e)

In [354]:
zerodivison(5)

division by zero

In [355]:
def zerd():
    return 5/0

In [356]:
try:
    zerd()
except ZeroDivisionError as e:
    print(e)
except Exception as err:
    print('any other error')
finally:
    print('you can not stop me')

division by zero
you can not stop me

In [357]:
class Myerror(Exception):
    """my own exception class
    attributes:msg:explantion of error
    """
    def __init__(self,msg):
        self.msg = msg

In [360]:
obj = Myerror('something wrong')

In [361]:
obj.msg

'something wrong'

In [377]:
class CustomException(Exception):
    """custom exception
    attribute:message:explanation of error
    """
    def __init__(self, message):
        self.message = message

In [378]:
o1 = CustomException('error occured')

In [379]:
o1.message

'error occured'

In [384]:
num = int(input())

0

In [385]:
try:    
    if num<10:
        raise CustomException('the value is less than 10')
    elif num>10:
        raise CustomException('The value is greater than 10')
except CustomException as err:
    print('error occured:', err.message)

error occured: the value is less than 10

In [386]:
email = "john@google.com"

In [390]:
username = email.split('@')[0]

In [391]:
print(username
     )

john

In [396]:
company_name = email.split('@')[1].split('.')[0]

In [397]:
company_name

'google'

In [398]:
#54

In [405]:
l1 = input().split(" ")

2 cats and 3 dogs.

In [404]:
lst1 = []
for i in l1:
    if i.isnumeric():
        lst1.append(i)
print(lst1)

['2', '3']

In [407]:
ans = [i for i in l1 if i.isdigit()]

In [408]:
print(ans)

['2', '3']

In [412]:
unicodestring = u"Hello world!"

In [413]:
print(unicodestring)

Hello world!

In [414]:
s =  input()

machine learning

In [416]:
s.encode(encoding='utf-8')

b'machine learning'

In [417]:
unicodestring(s)

TypeError: 'str' object is not callable

In [418]:
# -*- coding: utf-8 -*-

In [419]:
# -*- coding: utf-8 -*-

In [421]:
n = int(input())

5

In [424]:
sum = 0
for i in range(1,n+1):
    sum += i/(i+1)
print(round(sum, 2))

3.55

In [432]:
def question_59(n):
    return round(sum(map(lambda x:x/(x+1), range(1,n+1))),2)

In [433]:
question_59(5)

TypeError: 'float' object is not callable

In [445]:
def question_59(n):
    print(round(np.sum(list(map(lambda x: x/(x+1), range(1, n+1)))), 2))

question_59(5)

3.55

In [446]:
#60

In [447]:
f(n)=f(n-1)+100 when n>0
and f(0)=0

SyntaxError: invalid syntax (1036749780.py, line 1)

In [448]:
def func1(n):
    if n>0:
        return func1(n-1)+100
    else:
        return 0

In [449]:
func1(0)

0

In [450]:
func1(5)

500

In [451]:
def func2(n):
    if n==0:
        return 0
    else:
        return func2(n-1)+100

In [452]:
func2(5)

500

In [453]:
func2(0)

0

In [454]:
n = int(input())

5

In [455]:
f = lambda x:f(x-1)+100 if x>0 else 0

In [456]:
f(n)

500

In [457]:
f(0)

0

In [ ]:
f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1

In [463]:
def fabbi(n):
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fabbi(n-1)+fabbi(n-2)

In [464]:
fabbi(7)

13

In [465]:
n = int(input())

7

In [471]:
f = lambda x: 0 if x==0  else 1 if x==1 else f(x-1)+f(x-2)

In [472]:
f(n)

13

In [473]:
f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1

SyntaxError: invalid syntax (399138506.py, line 1)

In [474]:
def fabbiiii(n):
    if n<=1:
        return n
    else:
        return fabbiiii(n-1)+fabbiiii(n-2)

In [475]:
fabbiiii(7)

13

In [479]:
def fabbi_list(n):
    return [fabbiiii(i) for i in range(0,n+1)]

In [480]:
fabbi_list(7)

[0, 1, 1, 2, 3, 5, 8, 13]

In [481]:
def question_62(n):
    if n==0:
        return [0]
    if n==1:
        return [0,1]
    
    sequence = [0,1]
    a,b = 0,1
    for i in range(2,n+1):
        c = a+b
        sequence.append(c)
        a = b
        b = c
    return sequence

In [482]:
question_62(7)

[0, 1, 1, 2, 3, 5, 8, 13]